apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-app
  labels:
    app: learning-platform
    component: backend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: learning-platform
      component: backend
  template:
    metadata:
      labels:
        app: learning-platform
        component: backend
    spec:
      containers:
      - name: backend
        image: kotbb/digilians-backend:v1  
        ports:
        - containerPort: 8000
          name: http
        env:
        - name: DB_USER
          valueFrom:
            secretKeyRef:
              name: db-credentials
              key: POSTGRES_USER
        - name: DB_PASSWORD
          valueFrom:
            secretKeyRef:
              name: db-credentials
              key: POSTGRES_PASSWORD
        - name: DB_HOST
          value: postgres-service
        - name: DB_PORT
          value: "5432"
        - name: DB_NAME
          valueFrom:
            secretKeyRef:
              name: db-credentials
              key: POSTGRES_DB
        livenessProbe:
          httpGet:
            path: /
            port: 8000
          initialDelaySeconds: 30
          periodSeconds: 10
        readinessProbe:
          httpGet:
            path: /
            port: 8000
          initialDelaySeconds: 10
          periodSeconds: 5
