apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend-app
  labels:
    app: learning-platform
    component: frontend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: learning-platform
      component: frontend
  template:
    metadata:
      labels:
        app: learning-platform
        component: frontend
    spec:
      containers:
      - name: frontend
        image: kotbb/digilians-frontend:v1  
        ports:
        - containerPort: 80
          name: http
        livenessProbe:
          httpGet:
            path: /
            port: 80
          initialDelaySeconds: 30
          periodSeconds: 10
        readinessProbe:
          httpGet:
            path: /
            port: 80
          initialDelaySeconds: 10
          periodSeconds: 5
