apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend-app-deployment
spec:
  replicas: 2
  selector:
    matchLabels:
      app: frontend-app
  template:
    metadata:
      labels:
        app: frontend-app
    spec:
      affinity:
        nodeAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 50
              preference:
                matchExpressions:
                  - key: zone
                    operator: In
                    values:
                      - east
      containers:
        - name: nginx
          image: nginx:1.25-alpine
          ports:
            - containerPort: 80

# before applying the deployment, you need to add the label to the node
# kubectl label node minikube-m02 zone=east