apiVersion: v1
kind: Pod
metadata:
  name: test-pod
  labels:
    app: test
spec:
  containers:
    - name: test-container
      image: nginx:1.25-alpine
      ports:
        - containerPort: 80

# in my cluster the pod is scheduled on the node minikube
# after creating the pod run this command to taint the node
# kubectl taint node minikube test=evict:NoExecute
# now the pod is evicted from the node and is scheduled on a different node

